<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      *,
      body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      .container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      form {
        width: 450px;
        /* border: 1px solid green; */
        border-radius: 5px;
        padding: 5px 0;
        padding-bottom: 30px;
      }

      form h1 {
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 400;
      }

      form .row {
        width: 400px;
        margin: 15px auto;
      }

      form .row input {
        outline: none;
        border: none;
        width: 100%;
        border-radius: 5px;
        padding: 7px 10px;
        background-color: rgb(232, 232, 232);
        font-size: 15px;
      }

      form .row input:focus {
        border: 1px solid rgba(74, 74, 255, 0.435);
      }

      form .btn {
        width: 400px;
        margin: auto;
      }

      form .btn button {
        padding: 8px 0;
        border: none;
        width: 100%;
        border-radius: 5px;
        background-color: green;
        color: white;
        font-weight: 700;
        cursor: pointer;
      }

      form p {
        font-size: 15px;
        text-align: center;
        margin-top: 15px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action="" method="post">
        {% csrf_token %}
        <h1>Se connecter</h1>
        <div class="row">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="frist name"
          />
        </div>
        <div class="row">
          <input type="email" name="email" id="email" placeholder="Email" />
        </div>
        <div class="row">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="password"
          />
        </div>
        <div class="row">
          <input
            type="password"
            name="confirm_password"
            id="confirm_password"
            placeholder="confirm password"
          />
        </div>
        <div class="btn">
          <button type="submit">se connecter</button>
        </div>
        <p>
          vous avez deja un compte!
          <a href="{% url 'signIn' %}">connectez-vous</a>
        </p>
      </form>
    </div>
  </body>
</html>
